<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio_vendedor</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
    <header class="color"></header>
    <img class="Logo" src="../static/imagenes/logo.png">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="titulo_v">Tus publicaciones</p>
                <img src="../static/imagenes/hotel_barcelo.jpg" class="barcelo">
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary login_1">Agregar publicacion</button>
                <h1>Hotel Barcelo</h1>
                <p class="clicks">Clicks: 68</p>
                <p><i class="fas fa-briefcase-medical"></i>
                <i class="fas fa-briefcase-medical"></i>
                <i class="fas fa-briefcase-medical"></i>
                <i class="fas fa-briefcase-medical"></i>
                <i class="fas fa-briefcase-medical"></i></p>
                <p>
                <button type="submit" class="btn btn-primary login_2">Editar publicacion</button>
                <button type="submit" class="btn btn-primary login_2">Comentarios</button>
                </p>
            </div>
        </div>
    </div>

    
    <footer class="Color"><h6>Hecho con amor por EAB team :)</h6></footer>
    <script src="https://kit.fontawesome.com/a7808df2eb.js" crossorigin="anonymous"></script>
</body>
</html>