<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <header class="color"></header>    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img class="Logo" src="../static/imagenes/logo.png">
            <div class="container">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search"> <!--Barra de navegacion-->
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button> <!--Boton de la lupa-->
              </form>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Hospedaje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Museos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cultura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/">Salida</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <p class="ubicacion">Ubicacion: Ciudad de Mexico</p>
      <div class="container">
          <div class="row">
              <h1>Hospedaje</h1>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/hotel_barcelo.jpg">
                    <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i></p>
                  <a class="headers_publi" href="http://127.0.0.1:5000/lugar">Hotel Barcelo</a>
                  <p class="fuente_publi"> 1,313 pesos la noche</p>
              </div>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Galeria_reforma.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                  <a class="headers_publi" href="#"> Hotel Galerias Reofrma</a>
                  <p class="fuente_publi">650 pesos la noche</p>
              </div>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Collection_t2.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i></p>
                  <a class="headers_publi" href="#">Hotel Collection Terminal 2</a>
                  <p class="fuente_publi">800 pesos la noche</p>
              </div>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Hilton_garden.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                  <a class="headers_publi" href="#"> Hotel Hilton Garden</a>
                  <p class="fuente_publi">750 pesos la noche</p>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <h1>Centros culturales</h1>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Bosque_chapu.png">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                <a class="headers_publi" href="#">Bosque de chapultepec</a>
                <p class="fuente_publi">Entrada gratuita</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Basilica_Gua.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i>
                    <i class="far fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                <a class="headers_publi" href="#">Basilica de Guadalupe</a>
                <p class="fuente_publi">Entrada gratuita</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Catedral_Metro.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i></p>
                <a class="headers_publi" href="#">Catedral Metropolitana</a>
                <p class="fuente_publi">Entrada gratuita</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Angel_Inde.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i></p>
                <a class="headers_publi" href="#">Angel de la Independencia</a>
                <p class="fuente_publi">Entrada 100 pesos / Visita gratuita</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>Museos</h1>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Museo_antropologia.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                <a class="headers_publi" href="#">Museo de antropologia</a>
                <p class="fuente_publi">300 pesos la entrada</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Museo_CDMX.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i></p>
                <a class="headers_publi" href="#">Museo de la Ciudad de Mexico</a>
                <p class="fuente_publi">Entrada gratuita</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/Museo_Frida.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                <a class="headers_publi" href="#">Museo Frida Khalo</a>
                <p class="fuente_publi">500 pesos la entrada</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagenes/BellasArtes.jpg">
                <p><i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="fas fa-hospital"></i>
                    <i class="far fa-hospital"></i></p>
                <a class="headers_publi" href="#">Palacio de Bellas Artes</a>
                <p class="fuente_publi">Entrada Gratuita</p>
            </div>
        </div>
    </div>

    <footer class="color"><h6>Hecho con amor por EAB team :)</h6></footer>

    <script src="https://kit.fontawesome.com/a7808df2eb.js" crossorigin="anonymous"></script>
</body>
</html>